:root {
    --liu-blue-10: #e6f8fc;
    --liu-blue-20: #ccf1fa;
    --liu-blue-40: #99e3f5;
    --liu-blue-60: #66d5f1;
    --liu-blue-80: #33c7ec;
    --liu-blue-100: #00b9e7;
    --liu-blue-120: #0094b9;
    --liu-blue-140: #006f8b;
    --liu-blue-160: #004a5c;
    --liu-blue-180: #00252e;
    --liu-turquoise-10: #e7f9fa;
    --liu-turquoise-20: #d1f4f6;
    --liu-turquoise-40: #a2e9ed;
    --liu-turquoise-60: #74dde4;
    --liu-turquoise-80: #45d2db;
    --liu-turquoise-100: #17c7d2;
    --liu-turquoise-120: #129ea8;
    --liu-turquoise-140: #0d777e;
    --liu-turquoise-160: #094f54;
    --liu-turquoise-180: #04282a;
    --liu-green-10: #e6faf7;
    --liu-green-20: #ccf5f0;
    --liu-green-40: #99ece1;
    --liu-green-60: #66e2d3;
    --liu-green-80: #33d9c4;
    --liu-green-100: #00cfb5;
    --liu-green-120: #02a68f;
    --liu-green-140: #017c6b;
    --liu-green-160: #015348;
    --liu-green-180: #002924;
    --liu-orange-10: #fff0ec;
    --liu-orange-20: #ffe0d9;
    --liu-orange-40: #ffc1b3;
    --liu-orange-60: #ffa28e;
    --liu-orange-80: #ff8368;
    --liu-orange-100: #ff6442;
    --liu-orange-120: #cc5035;
    --liu-orange-140: #993c28;
    --liu-orange-160: #66281a;
    --liu-orange-180: #33140d;
    --liu-purple-10: #f3f2fa;
    --liu-purple-20: #e7e6f6;
    --liu-purple-40: #d0cded;
    --liu-purple-60: #b8b3e5;
    --liu-purple-80: #a19adc;
    --liu-purple-100: #8981d3;
    --liu-purple-120: #6e67a9;
    --liu-purple-140: #524d7f;
    --liu-purple-160: #373454;
    --liu-purple-180: #1b1a2a;
    --liu-yellow-20: #fffcdf;
    --liu-yellow-40: #fef9be;
    --liu-yellow-60: #fef59e;
    --liu-yellow-80: #fdf27d;
    --liu-yellow-100: #fdef5d;
    --liu-yellow-120: #cabf4a;
    --liu-yellow-140: #988f38;
    --liu-yellow-160: #656025;
    --liu-yellow-180: #333013;
    --liu-grey-10: #f0f2f4;
    --liu-grey-20: #e1e5e9;
    --liu-grey-40: #c3cbd3;
    --liu-grey-60: #a6b2bd;
    --liu-grey-80: #8898a7;
    --liu-grey-100: #6a7e91;
    --liu-grey-120: #556574;
    --liu-grey-140: #404c57;
    --liu-grey-160: #2a323a;
    --liu-grey-180: #15191d;
    --grey-10: #f2f2f2;
    --grey-20: #e5e5e5;
    --grey-40: #cccccc;
    --grey-60: #b2b2b2;
    --grey-80: #999999;
    --grey-100: #808080;
    --grey-120: #666666;
    --grey-140: #4c4c4c;
    --grey-160: #333333;
    --grey-180: #191919;
}
