html {
    position: relative;
}

body, .highcharts-container {
    font-family: KorolevLiUMedium, sans-serif;
    font-size: 12px;
}

input, select {
    font-family: inherit;
}

input, textarea, select {
    border: 1px solid var(--liu-grey-180);
}

body {
    /* max-width: 1375px; */
    margin: auto;
    background-color: var(--liu-grey-10);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
}

header h1 {
    position: fixed;
    background-color: var(--liu-grey-180);
    margin: 0;
    padding: 16px;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    font-size: 18px;
    font-weight: normal;
    z-index: 1;
}

header h1::before {
    content: "\00a0";
    padding: 9px 16px;
    margin-right: 14px;
    border-radius: 4px;
    background-color: var(--liu-blue-80);
    background-image: url('../img/LiU_logo_white.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    position: fixed;
    background-image: url("../img/LiU_primar_white.svg");
    background-size: 160px;
    background-position: left 50% center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56px;
    font-size: 0;
    z-index: 1;
}

/* .menu {
    position: fixed;
    background-color: white;
    margin-top: 56px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    z-index: 1;
}

.menu ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-left: 0px;
}

.menu li {
    display: inline;
}

.menu li.selected {
    border-right: 5px solid var(--liu-blue-80);
}

.menu li:hover {
    background-color: var(--liu-blue-10);
}

.menu a {
    display: inline-block; 
    font-size: 16px;
    padding: 20px;
    width: 100%;
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
} */

main {
    margin: 50px 0 50px 50px;
    /* filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.3)); */
}

main > * {
    /* padding: 0 24px; */
    background-color: var(--liu-grey-10);
}

main h2 {
    font-size: 2em;
    margin-bottom: 0;
    padding-top: 0.83em;
    padding-bottom: 0.83em;
}

main h2:first-of-type {
    margin-top: 112px;
}

main h3 {
    margin: 0;
    padding-top: 0.83em;
    padding-bottom: 0.83em;
}

nav.allrooms{
    width: 150px;
    padding: 0px;
    margin-top: 40px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.15);
}
.allrooms h3 {
    border-bottom: 1px dotted var(--liu-grey-180);
    padding: 1em;
}

.usertest ul, .allrooms ul{
    list-style-type: none;
    padding: 0;
    margin: 0;   
}

.usertest ul li a{
    font-size: large;
    text-transform: uppercase;
    display: block;
    padding: 0.5em 0.5em;
    background-color: var(--liu-blue-100);
    width: 100px;
    margin: 10px 0px;
    border-radius: 4px;
}
.allrooms ul li a{
    text-transform: uppercase;
    display: block;
    padding: 1em 1.5em;
    background-color: var(--liu-grey-10);
    margin: 0px 0px;
}

.usertest a:hover, .usertest a:active, .usertest a:focus{
    background-color: var(--liu-blue-60);
}

.usertest a:active{
    border: 2px solid var(--liu-blue-140);
}

.allrooms a:hover, .allrooms a:active, .allrooms a:focus{
    background-color: var(--liu-blue-40);
}   


.tooltip {
    visibility: hidden;
    position: absolute;
    font-size: 12px;
    min-width: 20%;
    transform: translateX(-50%);
    margin-top: 20px;
    padding: 10px;
    color: #666666;
    background-color: #eeeeee;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    border: 8px solid #eeeeee;
    transform: translate(-50%, 50%) rotate(135deg);
    box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
